
# Por favor tente resolver o desafio sozinho, não pegue atalhos, tu consegue, é só colocar a cabeça para funcionar.

Execute a célula abaixo apenas uma vez.

In [1]:
%%bash

rm -rf /tmp/github; mkdir -p /tmp/github; cd /tmp/github
git clone https://github.com/romeritomorais/30-day-challenges-with-sql.git
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/install-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/update-miniconda.sh > /dev/null 2>&1

Cloning into '30-day-challenges-with-sql'...

Nesse desafio eu preciso apenas de campos numericos dos dados da coluna `Customer.PostalCode` de 8 posições e do tipo inteiro.


resultado esperado:  

|CustomerId|Address                        |State|Country|Postal_Code
|----------:|------------------------------:|----:|------:|----------
|         1|Av. Brigadeiro Faria Lima, 2170|SP   |Brazil |   12227000
|        12|Praça Pio X, 119               |RJ   |Brazil |   20040020
|        13|Qe 7 Bloco G                   |DF   |Brazil |   71020677
|        20|541 Del Medio Avenue           |CA   |USA    |   94040111

Na celula onde tem `%%sql` tu vai escrever a query abaixo dela, exemplo:  
```python
%%sql
select * from Customer
```

Para resolução tu podes usar a documentação do sqlite:https://www.sqlite.org/docs.html

In [2]:
%load_ext sql
%sql sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db

'Connected: @//tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db'

In [64]:
%%sql
--Utilizei a função replace para retirar o '-' e a regexp para identificar 8 caracteres numéricos
select CustomerId, Address, State, Country, replace(PostalCode,'-','') as Postal_Code from Customer
where replace(PostalCode,'-','') regexp '^[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]$'

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.

[(1, 'Av. Brigadeiro Faria Lima, 2170', 'SP', 'Brazil', '12227000'),
 (10, 'Rua Dr. Falcão Filho, 155', 'SP', 'Brazil', '01007010'),
 (11, 'Av. Paulista, 2022', 'SP', 'Brazil', '01310200'),
 (12, 'Praça Pio X, 119', 'RJ', 'Brazil', '20040020'),
 (13, 'Qe 7 Bloco G', 'DF', 'Brazil', '71020677'),
 (20, '541 Del Medio Avenue', 'CA', 'USA', '94040111')]

In [65]:
%%sql
select CustomerId, Address, State, Country, PostalCode as Postal_Code from Customer

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.

[(1, 'Av. Brigadeiro Faria Lima, 2170', 'SP', 'Brazil', '12227-000'),
 (2, 'Theodor-Heuss-Straße 34', None, 'Germany', '70174'),
 (3, '1498 rue Bélanger', 'QC', 'Canada', 'H2G 1A7'),
 (4, 'Ullevålsveien 14', None, 'Norway', '0171'),
 (5, 'Klanova 9/506', None, 'Czech Republic', '14700'),
 (6, 'Rilská 3174/6', None, 'Czech Republic', '14300'),
 (7, 'Rotenturmstraße 4, 1010 Innere Stadt', None, 'Austria', '1010'),
 (8, 'Grétrystraat 63', None, 'Belgium', '1000'),
 (9, 'Sønder Boulevard 51', None, 'Denmark', '1720'),
 (10, 'Rua Dr. Falcão Filho, 155', 'SP', 'Brazil', '01007-010'),
 (11, 'Av. Paulista, 2022', 'SP', 'Brazil', '01310-200'),
 (12, 'Praça Pio X, 119', 'RJ', 'Brazil', '20040-020'),
 (13, 'Qe 7 Bloco G', 'DF', 'Brazil', '71020-677'),
 (14, '8210 111 ST NW', 'AB', 'Canada', 'T6G 2C7'),
 (15, '700 W Pender Street', 'BC', 'Canada', 'V6C 1G8'),
 (16, '1600 Amphitheatre Parkway', 'CA', 'USA', '94043-1351'),
 (17, '1 Microsoft Way', 'WA', 'USA', '98052-8300'),
 (18, '627 Broadway', 'NY', 'USA', '10012-2612'),
 (19, '1 Infinite Loop', 'CA', 'USA', '95014'),
 (20, '541 Del Medio Avenue', 'CA', 'USA', '94040-111'),
 (21, '801 W 4th Street', 'NV', 'USA', '89503'),
 (22, '120 S Orange Ave', 'FL', 'USA', '32801'),
 (23, '69 Salem Street', 'MA', 'USA', '2113'),
 (24, '162 E Superior Street', 'IL', 'USA', '60611'),
 (25, '319 N. Frances Street', 'WI', 'USA', '53703'),
 (26, '2211 W Berry Street', 'TX', 'USA', '76110'),
 (27, '1033 N Park Ave', 'AZ', 'USA', '85719'),
 (28, '302 S 700 E', 'UT', 'USA', '84102'),
 (29, '796 Dundas Street West', 'ON', 'Canada', 'M6J 1V1'),
 (30, '230 Elgin Street', 'ON', 'Canada', 'K2P 1L7'),
 (31, '194A Chain Lake Drive', 'NS', 'Canada', 'B3S 1C5'),
 (32, '696 Osborne Street', 'MB', 'Canada', 'R3L 2B9'),
 (33, '5112 48 Street', 'NT', 'Canada', 'X1A 1N6'),
 (34, 'Rua da Assunção 53', None, 'Portugal', None),
 (35, 'Rua dos Campeões Europeus de Viena, 4350', None, 'Portugal', None),
 (36, 'Tauentzienstraße 8', None, 'Germany', '10789'),
 (37, 'Berger Straße 10', None, 'Germany', '60316'),
 (38, 'Barbarossastraße 19', None, 'Germany', '10779'),
 (39, '4, Rue Milton', None, 'France', '75009'),
 (40, '8, Rue Hanovre', None, 'France', '75002'),
 (41, '11, Place Bellecour', None, 'France', '69002'),
 (42, '9, Place Louis Barthou', None, 'France', '33000'),
 (43, '68, Rue Jouvence', None, 'France', '21000'),
 (44, 'Porthaninkatu 9', None, 'Finland', '00530'),
 (45, 'Erzsébet krt. 58.', None, 'Hungary', 'H-1073'),
 (46, '3 Chatham Street', 'Dublin', 'Ireland', None),
 (47, 'Via Degli Scipioni, 43', 'RM', 'Italy', '00192'),
 (48, 'Lijnbaansgracht 120bg', 'VV', 'Netherlands', '1016'),
 (49, 'Ordynacka 10', None, 'Poland', '00-358'),
 (50, 'C/ San Bernardo 85', None, 'Spain', '28015'),
 (51, 'Celsiusg. 9', None, 'Sweden', '11230'),
 (52, '202 Hoxton Street', None, 'United Kingdom', 'N1 5LH'),
 (53, '113 Lupus St', None, 'United Kingdom', 'SW1V 3EN'),
 (54, '110 Raeburn Pl', None, 'United Kingdom', 'EH4 1HH'),
 (55, '421 Bourke Street', 'NSW', 'Australia', '2010'),
 (56, '307 Macacha Güemes', None, 'Argentina', '1106'),
 (57, 'Calle Lira, 198', None, 'Chile', None),
 (58, '12,Community Centre', None, 'India', '110017'),
 (59, '3,Raj Bhavan Road', None, 'India', '560001')]